*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
h1{
    background-color: #081b31;
    height: 5rem;
    color: white;
    line-height: 5rem;
}
.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 3rem;
}
.choice:hover{
    /* opacity: 0.5; */
    cursor: pointer;
    background-color: rgb(55, 49, 49);
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    gap: 5rem;
    margin-top: 5rem;
}

#computer-score, #user-score{
    font-size: 3.5rem;
}

#msg{
    background-color: #081b31;
    color: #fff;
    margin-top: 5rem;
    font-size: 2rem;
    display: inline-block;
    padding: 1rem;
    border-radius: 1.2rem;
}
#msg:hover{
    cursor: pointer;
}